<% if logged_in? %>
    <h1 class="signup">Welcome</h1>
    <h2 class="signup">You are logged in, <%= current_user.name %></h2>
<% else %>
    <h1 class="signup">Sign Up</h1>
<%end%>
<div class="signup">
<%= link_to "Login", login_path, :class => "button" %>
<%= link_to "Sign Up", new_users_path, :class => "button" %>
</div>